<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>freeLunch</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <style>
      body {
        background-color: #f7f7f7;
      }
      .centerItem {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
      }

      button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #333;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row align-items-start">
        <div class="col">
          <form class="centerItem" action="/kitchen" method="POST">
            <button>Servir plato</button>
          </form>
          <% if(foodName && !error) { %>
          <script>
        const mensajeDesdeElServidor = 'Se preparo: <%= foodName%>';
              swal({
              title: "Good job!",
              text: mensajeDesdeElServidor,
              icon: "success",
              button: "Confirm!",
            });
          </script>
          <% } %>
          <% if(error) { %>
          <div class="alert alert-danger" role="alert">
            <%= error %>: <%= foodName %>
          </div>
          <script>
            const errorMsj = '<%= error %>: <%= foodName %>';
                  swal({
                  title: "No inventary!",
                  text: errorMsj,
                  icon: "error",
                  button: "confirm!",
                });
              </script>
          <% } %>
        </div>
        <div class="col centerItem">
          <tbody>
            <ol class="list-group list-group-numbered" style="width: 30%">
              <h3>Inventary:</h3>
              <% Object.keys(inventory).forEach(function(key) { %>
              <li class="list-group-item"><%= key %>: <%= inventory[key] %></li>
              <% }); %>
            </ol>
          </tbody>
        </div>
      </div>
    </div>
  </body>
</html>
